<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">open form</button>
        <h1>{{ 'Nilai a : ' + a }}</h1>
        <h1>{{ 'Rata-rata : ' + rata2 }}</h1>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          a: 0,
          rata2: 0,
        },
        methods: {
          openForm: function () {
            let banyak = 0
            let tampung = 0
            while (tampung < 10) {
              this.a = prompt('Masukkan Nilai a')
              const nilai = parseInt(this.a)
              if (Number.isInteger(nilai) == false) {
                  alert("Error! Input bukan angka!")
                  break;
              }
              tampung += nilai
              banyak += 1
            }
            this.a = tampung
            this.rata2 = (this.a / banyak)
          }
        }
      })
    </script>
</body>
</html>
