
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    
    <div v-if = "editMode"> <!--Jika mode edit aktif, maka akan menampilkan input untuk update data-->
      <input v-model="nameForInput">
      <button v-on:click="updateUser(nameForInput)">Update</button>
    </div>
    
    <div v-else>
      <input v-model="nameForInput">
      <button v-on:click="addUser(nameForInput)">Add</button>
    </div>

    <br>

    <ul v-for="(user, index) in users">
      <li>
          {{ user.name }}
          <button v-on:click="enableUpdate(index)">Edit</button> || <button v-on:click="deleteUser(index)">Delete</button>
      </li>
        
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        users : [
          {
            'name' : 'Muhammad Iqbal Mubarok',
          },
          {
            'name' : 'Ruby Purwanti',
          },
          {
            'name' : 'Faqih Muhammad',
          },
        ],
        nameForInput: "",
        idForInput: 0,
        editMode : false,
      },
      methods : {
        addUser: function(newName) {
          this.users.push({name: this.nameForInput}); // Menambahkan data ke array
          this.nameForInput = ""; // Mengosongkan field dari input
        },
        deleteUser: function(index) {
          if (this.editMode == true) { // Jika mode edit aktif
            alert("Can't delete data while you are editing a data"); // Tidak bisa delete data, karena mode edit harus dinonaktifkan dulu
          } else {
            if (confirm("Anda yakin?")) { // Konfirmasi penghapusan
              this.users.splice(index, 1); // Hapus data dari array
            }
          }
        },
        enableUpdate: function(index) {
          this.editMode = true; // On-Off switch mode edit
          if (this.editMode == true) { // Jika mode edit aktif
            this.nameForInput = this.users[index].name; // Mendapatkan nama yang ingin diedit untuk ditampilkan pada field input update
            this.idForInput = index; // Mendapatkan index dari data user
          }
        },
        updateUser: function(newName) {
          let index = this.idForInput;
          this.users[index].name = newName;
          this.editMode = false; // Menonaktifkan mode edit karena sudah selesai update datanya
          this.idForInput = 0; // index diset ke 0
          this.nameForInput = ""; // Mengosongkan field dari input
        },
      }
  })
  </script>
</body>
</html>